.lp{display: inline;}
.jnm{margin-left:20px;
display: inline; }
b#nkm{margin-left:280px ;}
b#hjk{margin-left:500px ;}
td:hover{background-color: aquamarine;}
.rg:focus{background-color: red;}
#huo{display: inline;}
#joo{display: inline;}
#uio{display: inline;}
#total{display: inline;}